@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');


/* font-family: 'IBM Plex Mono', monospace;
font-family: 'Roboto', sans-serif; */

/* for page height detection */
:root {
    --doc-height: 100%;
   }
   
   html,
   body {
    padding: 0;
    margin: 0;
    height: 100vh; /* fallback for Js load */
    height: var(--doc-height);
   }
   
body {
    font-family: 'IBM Plex Mono', monospace;
    /* background-color: #453333; */
    background-image: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.category {
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 10px;
    margin-bottom: 20px;;
}

.btn.unselected {
    background-color: #00CFBD;
}

.btn.selected {
    background-color: #fd5e60;
}

.playing {
    /* transform: scale(1.05); */
    border-color: #00CFBD;
    box-shadow: 0 0 1rem #00CFBD;
  }

.container {
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid green; */

}
.description {
    text-align:center;
    margin-bottom: 20px;
}
.btn {
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
    display: block;
    flex-grow:1;
    color: black;
    background-color: #00CFBD;
    border: 0;
    padding: 20px 30px;
    margin-top: 20px;
  transition: all .07s ease;
}

.lcd-wrap {
    width: 50%;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
}

.patches {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    text-align: left;

}

.description {
    color: white;
}

.patches {
    font-size: 1.5rem;
    color: black;
    background-color: #b6c9bf;
    padding: 0px 20px;
    width: 100%;
    height: 150px;


}



.lcd {
    display: flex;
    background-color: black;
    padding: 20px;
    padding-left: 0px;
    /* width: 80%; */

}

.patch-num {
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    /* border: 1px solid green; */
    width: 5rem;
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    .lcd-wrap {
        width: 90%;

    }

    .patches {
        font-size: 1.2rem;
        height: 100px;


    }

    .patch-num {

        padding: 0 10px;
        /* border: 1px solid green; */
        width: 2rem;
        font-size: 1rem;
    }

    .lcd {
        display: flex;
        background-color: black;
        padding: 10px;
        padding-left: 0px;
        /* width: 80%; */

    }
}
